.left {
    width: 128px;
    margin-left:20px;
    margin-top:45px;
    float:left;
}

.main {
    margin-left:178px;
}

.thumbnail{
    width:50px;
    height:60px;
    display:block;
}

.color {   
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 5px 5px 5px;
}

